.panel-spaced {
    margin-top: 1em;
}
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.form-feedback-required {
    color: lightgrey;
}

.server-error {
    color: rgb(169, 68, 66);
}

.server-success {
    color: rgb(60, 118, 61);
}