<form class="form-horizontal" name="linkform">
    <af-text-input af-type="'url'" ng-model="newLink.Url" af-name="'url'" af-label="'Url'" autofocus required maxlength="512"></af-text-input>
    <af-text-input ng-model="newLink.Title" af-name="title" af-label="'Title'" required maxlength="256"></af-text-input>
    <af-text-area ng-model="newLink.Description" maxlength="1024" rows="5" af-name="'description'" af-label="'Description'"></af-text-area>
    <af-text-input ng-model="newLink.Tags" af-name="'tags'" af-label="'Tags'" placeholder="Space separated tag list"></af-text-input>
</form>