<div class="row">
    <div class="jumbotron" style="margin-top: 1em;">
        <h1>Azure Linkboard</h1>
        <p>
            The Azure Linkboard is a lightweight, cheap to run, and fast bookmark archival site designed to illustrate using Web API and Azure to build the backbone of a
            real and functional application that supports multiple clients.
        </p>
        <p>If you're reading this then you're using the AngularJS single page application client - coming soon are iOS (Swift based) and Windows 8 Store App clients.</p>
        <p>The site can be used here as is however you can also host your own instance of the site and you can get the code below.</p>
        <p>
            <a href="https://github.com/JamesRandall/AzureLinkboard" class="btn btn-primary btn-lg">Learn more &raquo;</a>
            <a href="http://www.azurefromthetrenches.com" class="btn btn-primary btn-lg">Blog &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>If you already have a username and password, you can use the button below to access your bookmarks.</p>
        <p><a class="btn btn-default" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>Use the button below to register by creating a new account.</p>
        <p><a class="btn btn-default" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Accidental Fish</h2>
        <p>Dedicated to producing mobile and web applications that are easy to use Accidental Fish is a one man outfit run by me, James. You can find out more about some of my work on my <a href="http://www.jamesdrandall.com/">portfolio page</a>.</p>
        <p><a class="btn btn-default" href="http://www.accidentalfish.com" role="button">Go to Accidental Fish &raquo;</a></p>
    </div>
</div>
<hr/>
<footer>
    <p class="text-center">&copy; 2014 - <a href="http://www.accidentalfish.com">Accidental Fish Ltd.</a></p>
</footer>
