<div class="row" style="margin-top: 1em;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form class="form-horizontal" name="loginform">
                    <af-text-input af-type="'email'" ng-model="loginData.userName" af-name="'email'" af-label="'Email'" autofocus required></af-text-input>
                    <af-text-input af-type="'password'" ng-model="loginData.password" af-name="'password'" af-label="'Password'" required></af-text-input>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Submit</button></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer alert-danger" data-ng-show="saveResult.attemptedSave && !saveResult.savedSuccessfully">Unrecognised username and password combination.</div>
        </div>
    </div>
</div>