<div class="panel panel-default panel-spaced">
    <div class="panel-heading">Bookmarklets</div>
    <div class="panel-body">
        <p>Drag the button below to your bookmarks bar to create a bookmarklet.</p>
        <a ng-href="{{bookmarklet}}" class="btn btn-default">Save Bookmark</a>
    </div>
</div>
<!--<div class="panel panel-default">
    <div class="panel-heading">View Settings</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="pagesize">Page size</label>
            <input type="text" id="pagesize" class="form-control" ng-model="pageSize" />
        </div>
        <div class="pull-right"><button class="btn btn-default" ng-click="saveViewSettings()">Save</button></div>
    </div>
</div>-->