
<div class="row" style="margin-top: 1em;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                <form class="form-horizontal" name="regform">
                    <div class="form-group" ng-class="{'has-error': regform.email.$invalid}">
                        <label for="email" class="control-label col-md-2">Email</label>
                        <div class="col-md-10">
                            <input type="email" name="email" class="form-control" ng-model="registration.email" required autofocus maxlength="256" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': regform.password.$invalid}">
                        <label for="password" class="control-label col-md-2">Password</label>
                        <div class="col-md-10">
                            <input type="password" name="password" class="form-control" ng-model="registration.password" required maxlength="128" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': regform.confirmPassword.$invalid}">
                        <label for="password" class="control-label col-md-2">Confirm Password</label>
                        <div class="col-md-10">
                            <input type="password" name="confirmPassword" class="form-control" ng-model="registration.confirmPassword" required maxlength="128" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button></div>
                        </div>
                    </div>
                    <div class="row" data-ng-hide="message == ''">
                        <div data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                            {{message}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
