<!DOCTYPE html>
<html data-ng-app="AzureLinkboardApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Azure Linkboard</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body data-ng-controller="indexController">
    <div>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <a class="navbar-brand" href="#/" ng-hide="authentication.isAuth">Azure Linkboard</a>
                    <a class="navbar-brand" href="#/links" ng-hide="!authentication.isAuth">Azure Linkboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-hide="!authentication.isAuth"><a href="" ng-click="showAddLink()">Add Link</a></li>
                        <li ng-hide="!authentication.isAuth"><a href="#/settings">Settings</a></li>
                        <li ng-hide="!authentication.isAuth"><a href="" ng-click="logOut()">Logout</a></li>
                        <li ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                        <li ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addLinkModal" tabindex="-1" role="dialog" aria-labelledby="addLinkTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="addLinkTitle">Add Link</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-include="'app/views/bookmarklet.html'">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="saveLink()">Save Link</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="main" style="padding-top: 51px;">
        <div class="container body-content">
            <div ng-view="">
            </div>
        </div>
    </div>
    <!-- 3rd party libraries -->
    <script src="content/js/angular.min.js"></script>
    <script src="content/js/angular-route.min.js"></script>
    <script src="content/js/angular-local-storage.js"></script>
    <script src="content/js/loading-bar.js"></script>
    <script src="content/js/jquery-2.1.1.min.js"></script>
    <script src="content/js/bootstrap.js"></script>
    <script src="content/js/ng-infinite-scroll.js"></script>
    <!-- Directives -->
    <script src="app/directives/validationResultDirective.js"></script>
    <script src="app/directives/customInputs.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <!-- Load services -->
    <script src="app/services/settingsService.js"></script>
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/linkFeedService.js"></script>
    <script src="app/services/tagService.js"></script>
    <script src="app/services/webApiValidationService.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/linkFeedController.js"></script>
    <script src="app/controllers/settingsController.js"></script>
    <script src="app/controllers/tagController.js"></script>
</body>
</html>